pandas
psycopg2-binary
redis
requests
websocket-client
PyYAML
streamlit
websockets
plotly
streamlit-autorefresh
Flask[async]
httpx
flask-cors
cryptography
openalgo
pandas
numpy
scipy
duckdb
yfinance
NorenRestApiOAuth
selenium
pyotp
PyJWT==2.12.0
cryptography
pytz
asyncpg
