pandas>=2.2.2
psycopg2-binary==2.9.9
asyncpg==0.29.0
redis==5.0.3
requests>=2.32.3
websocket-client>=1.8.0
PyYAML==6.0.1
streamlit>=1.37.0
websockets==12.0
plotly==5.20.0
streamlit-autorefresh==0.0.1
Flask[async]>=3.0.3
httpx==0.27.0
flask-cors>=4.0.2
cryptography>=43.0.0
openalgo==1.0.47
numpy>=2.0.0
scipy>=1.14.0
duckdb>=1.1.0
yfinance==0.2.37
NorenRestApiOAuth==0.0.38
selenium==4.18.1
pyotp==2.9.0
PyJWT==2.12.0
pytz==2024.1
pydantic>=2.8.0
pydantic-settings==2.2.1
uvicorn>=0.30.0
webdriver-manager==4.0.1
fastapi>=0.115.0
starlette>=0.47.2
